@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background: linear-gradient(180deg, #00B4DB 0%, #325A79 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Paytone One', sans-serif;
    overflow-x: hidden;
}

h1{
    margin-top: 5%;
    font-size: 48px;
}

#button{
    width: 167px;
    height: 60px;
    background: white;
    color: black;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
}

#button:hover{
    box-shadow: 0px 3px 3px #325A79;
    cursor: pointer;
}

#jokeContent,#joke{
    font-family: Varela Round;
    font-size: 32px;
    line-height: 39px;
}

#jokeContent,#minion{
    margin-top: 5%;
}

#footer{
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    color: white;
}

/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px){
    body{
        background: linear-gradient(180deg, #00B4DB 0%, #325A79 100%);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: 'Paytone One', sans-serif;
        overflow-x: hidden;
    }
    
    h1{
        margin-top: 5%;
        font-size: 48px;
    }
    
    #button{
        width: 167px;
        height: 60px;
        background: white;
        color: black;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }
    
    #button:hover{
        box-shadow: 0px 3px 3px #325A79;
        cursor: pointer;
    }
    
    #jokeContent,#joke{
        font-family: Varela Round;
        font-size: 32px;
        line-height: 39px;
    }
    
    #jokeContent,#minion{
        margin-top: 5%;
    }
    
    #footer{
        font-size: 24px;
        line-height: 34px;
        text-decoration: none;
        color: white;
    } 
}

/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
        background: linear-gradient(180deg, #00B4DB 0%, #325A79 100%);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: 'Paytone One', sans-serif;
        overflow-x: hidden;
    }
    
    h1{
        margin-top: 5%;
        font-size: 48px;
    }
    
    #button{
        width: 167px;
        height: 60px;
        background: white;
        color: black;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }
    
    #button:hover{
        box-shadow: 0px 3px 3px #325A79;
        cursor: pointer;
    }
    
    #jokeContent,#joke{
        font-family: Varela Round;
        font-size: 32px;
        line-height: 39px;
    }
    
    #jokeContent,#minion{
        margin-top: 5%;
    }
    
    p{
        font-size: 35px;
        line-height: 34px;
        text-decoration: none;
        color: white;
    } 
}

/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    body{
        background: linear-gradient(180deg, #00B4DB 0%, #325A79 100%);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: 'Paytone One', sans-serif;
        overflow-x: hidden;
    }
    
    h1{
        margin-top: 5%;
        font-size: 48px;
    }
    
    #button{
        width: 167px;
        height: 60px;
        background: white;
        color: black;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }
    
    #button:hover{
        box-shadow: 0px 3px 3px #325A79;
        cursor: pointer;
    }
    
    #jokeContent,#joke{
        font-family: Varela Round;
        font-size: 32px;
        line-height: 39px;
    }
    
    #jokeContent,#minion{
        margin-top: 5%;
    }
    
    p{
        font-size: 35px;

}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
    body{
        background: linear-gradient(180deg, #00B4DB 0%, #325A79 100%);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: 'Paytone One', sans-serif;
        overflow-x: hidden;
    }
    
    h1{
        margin-top: 5%;
        font-size: 48px;
    }
    
    #button{
        width: 167px;
        height: 60px;
        background: white;
        color: black;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }
    
    #button:hover{
        box-shadow: 0px 3px 3px #325A79;
        cursor: pointer;
    }
    
    #jokeContent,#joke{
        font-family: Varela Round;
        font-size: 32px;
        line-height: 39px;
    }
    
    #jokeContent,#minion{
        margin-top: 5%;
    }
    
    
}
}

